@font-face { font-family: JetBrainsMono-ExtraBold; font-weight: extra-bold; src: url('fonts/JetBrainsMono-ExtraBold.ttf'); }
@font-face { font-family: Rockwell; font-weight: normal; src: url('fonts/ROCK.TTF'); }
@font-face { font-family: TwCenMT; font-weight: normal; src: url('fonts/TCM_____.TTF'); }
@font-face { font-family: TwCenMT; font-weight: bold; src: url('fonts/TCB_____.TTF'); }


body {
  background-color: rgb(14, 14, 32);
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#top-header {
  background-color: rgb(30, 24, 83);
  box-shadow: 10px 10px rgb(255, 255, 255);
  font-family: "JetBrainsMono-ExtraBold";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 3rem 12rem;
  padding: 2rem;
  border-radius: 4px;
}

#legend-top {
  font-family: "JetBrainsMono-ExtraBold";
  font-style: normal;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  transition: top 0.2s ease-in-out;
  z-index: 1000; /* Position the navbar at the top of the page */
  width: 97%; /* Full width */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#legend-top > .color-block {
  margin-bottom: 0px !important;
}
.nav-up {
  top: -38px; // same as header height. use variables in LESS/SASS
}

.nav-down {
  top: 10px;
}

.color-block {
  background-color: black;
  font-size: 28px;
  font-family: "TwCenMt";
  font-weight: bold;
  color: white;
  margin: 0 auto;
  padding: 10px;
  flex: 'flex-grow';
  flex-grow: 1;
  margin-top: 0px;
  margin-bottom: 20px;
}

.wrapper {
  font: normal 22px TwCenMt, sans-serif;
  line-height: 28px;
  color: #fff;
  padding: 100px 20px 200px;
}

.block {
  z-index: 1;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: calc(100% - 40px);
    width: 1px;
    background-color: #f2f2f2;
    left: 50%;
    margin-top: 110px;
  }
}

.title {
  font: Bold 52px Rockwell, sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.8s ease-in-out;
  background-color: rgb(197, 98, 6);
  box-shadow: 10px 10px rgb(255, 255, 255);
  max-width: 25rem;
  margin: 0 auto;
  border-radius: 4px;
}

.each-event {
  background-color: #ffffff;
  border-color: black;
  box-shadow: 5px 5px 5px black;
  color: rgb(0, 0, 0);
  padding: 40px;
  margin: 100px 60px;
  width: 700px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: -27px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
  }
  &:nth-child(odd) {
    margin-left: calc(50% + 20px);
  }
  &:nth-child(even) {
    margin-left: calc(50% - 721px);
    &:before {
      left: calc(100% + 14px);
    }
  }
}

.each-event.non-focus {
  color: #ffffff;
  background: #ffffff;
  margin-top: 150px;
  transition: all 0.8s ease-in-out;
  &:before {
    opacity: 0;
    background-color: #aaa;
  }
}

.main-idea {
  background-color:brown;
}

.activity {
  background-color: rgb(28, 131, 15);
}

.speaker {
  background-color: rgb(11, 53, 102);
}

.reflection {
  background-color:rgb(90, 13, 97);
}

footer {
  
}

#progress-container {
  position: fixed;
  transition: bottom 0.2s ease-in-out;
  z-index: 1;
  width: 97%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
}

.progress-down {
  bottom: -40px; // same as header height. use variables in LESS/SASS
}

.progress-up {
  bottom: 12px;
}

.progress-bar {
  height: 20px;
  background: #4caf50;
  width: 0%;
}

.goodgrade {
  color:white;
  text-align: center;
}